@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@400;600;700&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.header {
    background: #0A2640;
}

.navbar {
    padding: 56px 0px 64px 0px !important;
}

.navbar-brand {
    color: white !important;
    font-size: 43.25px !important;
    font-family: Manrope;
    font-weight: 700 !important;
    line-height: 33.64px;
    word-wrap: break-word
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-link {
    color: white !important;
    font-size: 16px !important;
    font-family: Open Sans;
    font-weight: 600 !important;
    line-height: 28px;
    word-wrap: break-word
}

.log-in {
    color: #0A2640 !important;
    font-size: 16px !important;
    font-family: Open Sans;
    font-weight: 700 !important;
    line-height: 24px;
    word-wrap: break-word;
    padding: 8px 40px !important;
    background: white !important;
    border-radius: 24px;
    border: 1px white solid;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex"
}